/*
    Title: vanhessche-alphabet-game.css
    Author:  John Vanhessche
    Date: 7/11/2022
    Description:  This is the .css file for additional styling on the vanhessche-alphabet-game.html.  This is for assignment 8.2.
*/

#results {
    text-align: center;
    font-size: 28px;
}

#alphaOutput {
    text-align: center;
    font-size: 28px;
}

#alphabet {
    width: 600px;
    margin: 3% auto 0;
}